@import './variables'; 
.btn-primary {
  background-color: $primary-color;
  border: none;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  color: $base-bg-color;
  padding: 16px 0;
  font-weight: bold;
  margin-top: 100px;
}


.add_board_btn {
  text-align: center;
  margin-top: 20px;
  padding: 68px 0;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
}